*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-stack:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --color-text: #e4e4e4;
  --color-background: #212121;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  font-family: var(--font-stack);
  color: var(--color-text);
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
